/* ==========
COLORS
========== */
:root {
  --background: #e7e5e4;
  --foreground: #1e293b;
  --card: #f5f5f4;
  --card-foreground: #1e293b;
  --popover: #f5f5f4;
  --popover-foreground: #1e293b;
  --primary: #6366f1;
  --primary-foreground: #ffffff;
  --secondary: #d6d3d1;
  --secondary-foreground: #4b5563;
  --muted: #e7e5e4;
  --muted-foreground: #6b7280;
  --accent: #f3e5f5;
  --accent-foreground: #374151;
  --destructive: #ef4444;
  --destructive-foreground: #ffffff;
  --border: #d6d3d1;
  --input: #d6d3d1;
  --ring: #6366f1;
  --shadow: hsl(240 4% 60% / 0.18);
}

:root.dark {
  --background: #1e1b18;
  --foreground: #e2e8f0;
  --card: #2c2825;
  --card-foreground: #e2e8f0;
  --popover: #2c2825;
  --popover-foreground: #e2e8f0;
  --primary: #818cf8;
  --primary-foreground: #1e1b18;
  --secondary: #3a3633;
  --secondary-foreground: #d1d5db;
  --muted: #2c2825;
  --muted-foreground: #9ca3af;
  --accent: #484441;
  --accent-foreground: #d1d5db;
  --destructive: #ef4444;
  --destructive-foreground: #1e1b18;
  --border: #3a3633;
  --input: #3a3633;
  --ring: #818cf8;
  --shadow: hsl(0 0% 0% / 0.18);
}
